* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: #f5f5f5;
}

.app {
    max-width: 480px;
    margin: auto;
    min-height: 100vh;
    padding-bottom: 80px;
}

.header {
    background: white;
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.date-list {
    padding: 16px;
}

.date-list li {
    background: white;
    border-radius: 12px;
    padding: 14px;
    margin-bottom: 12px;
    font-size: 16px;
}

.date-list button {
  margin-left: 12px;
  padding: 6px 10px;
  font-size: 14px;
}


.addDate-form {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 480px;
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 12px;
    background: white;
    border-top: 1px solid #ddd;
}

.addDate-form input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
}

.addDate-form button {
    width: 52px;
    border-radius: 12px;
    background: #333;
    color: white;
    border: none;
}